//Import Partials
@import "_config", "_typography";

//Button Styling

.btn {
  transition: 0.4s ease;
  //Padding, Border, etc.
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 2px solid $primary-yellow;
  //Colors
  background: $primary-yellow;
  color: white;
  //Typography
  @include mont-semibold;
  font-size: 0.8rem;
  //Cursor
  cursor: pointer;
  &:hover {
    transition: 0.3s ease;
    background: white;
    border: 2px solid $primary-yellow;
    color: $primary-yellow;
  }
  &-rounded {
    @extend .btn;
    padding: 0.6rem 1.4rem;
    border-radius: 9999px;
  }
  &.outlined {
    background: transparent;
    border: 2px solid $primary-yellow;
    color: $primary-yellow;
  }
}
