@import "_config", "_typography";

footer {
  padding: 3rem 0;
  //Background
  background: url("./../img/dimple_background.jpg");
  #footer-container {
    //Display
    display: flex;
    align-items: center;
    justify-content: space-between;
    //Colors
    color: $primary-yellow;
    #footer-contact-information {
      font-size: 0.8rem;
      img {
        height: 48px;
      }
      > p {
        &:first-of-type {
          @include mont-bold;
        }
      }
      #contact-address {
        margin: 1.4rem 0;
      }
    }
    #footer-menu {
      display: flex;
      font-size: 0.8rem;
      .footer-menu-section {
        margin-right: 3rem;
        &:last-of-type {
          margin-right: 0;
        }
        .footer-menu-subsection {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          a {
            color: inherit;
            text-decoration: none;
            margin-bottom: 0.5rem;
            &:first-of-type {
              @include mont-semibold;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    #footer-social-media {
      a {
        color: $primary-yellow;
        text-decoration: none;
        margin-right: 0.5rem;
        &:last-of-type {
          margin-right: 0;
        }
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
