@import "_config", "_typography";
@import "btn";
@import "nav";
@import "footer";

#hero {
  //Display & Sizing
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //Typography
  text-align: center;
  #hero-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //Background Image
    background: url("./../img/golf_green_autumn.jpg");
    background-size: cover;
    background-position: center bottom;
  }
  #hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #ffffff 13.5%,
      rgba(196, 196, 196, 0) 80%
    );
    width: 100%;
    height: 640px;
    z-index: 1;
  }
  #hero-text {
    margin-top: 6rem;
    z-index: 2;
    //Colors
    color: white;
    //H1
    h1 {
      @include mont-bold;
      font-size: 3rem;
    }
    h2 {
      @include annie;
      font-size: 2rem;
    }
    //CTA Buttons (Tee Times, Lessons)
    #hero-cta {
      margin: 0 auto;
      margin-top: 6rem;
      width: 50%;
      display: flex;
      justify-content: space-between;
      //Buttons
      a.btn {
        width: 40%;
        &:first-of-type {
          margin-right: 2rem;
        }
      }
    }
    #golf-advisor-rating {
      position: absolute;
      bottom: 30%;
      right: 0;
      img {
        height: 80px;
      }
    }
    #scroll-arrows {
      position: relative;
      opacity: 0.6;
      margin-top: 4rem;
      i {
        animation: pulse 3s ease-in-out infinite;
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

#content {
  h3 {
    font-size: 2rem;
    &:first-of-type {
      color: $primary-yellow;
      font-size: 1.5rem;
      margin: 4rem auto 0;
    }
    &:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }
  p {
    margin-bottom: 1.2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  #secondary-cta {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .secondary-cta-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      //Border for Hover Transition
      border: 1px solid white;
      padding: 2rem;
      transition: 0.4s ease;
      border-radius: 8px;
      i {
        color: $primary-yellow;
        font-size: 3rem;
      }
      p {
        @include mont-medium;
        margin-top: 1rem;
      }
      &:hover {
        border: 1px solid #ccc;
        box-shadow: 0px 1px 10px #999;
        transition: 0.4s ease;
      }
    }
  }
}

#golfer-swinging-divider {
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: 3rem;
  #golfer-image {
    background: url("./../img/golfer_downswing.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
  }
  #golfer-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #ffffff 5.5%,
      rgba(196, 196, 196, 0) 50%,
      #ffffff 94.5%
    );
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

//Animations
@keyframes pulse {
  0% {
    opacity: 0.2;
    font-size: 1.5rem;
  }
  50% {
    opacity: 1;
    font-size: 2rem;
  }
  100% {
    opacity: 0.2;
    font-size: 1.5rem;
  }
}
